.container {
}
.audioPlay{
    width: 100%;
}

.searchBar {
    border: 2px solid black;
    width: 100%;
}

.typeBox {
    width: 
}
.resultsBar {
    font-size: larger;
    font-weight: bolder;
}

.displayArea {
    display: flex;
    flex-wrap: wrap;
}

.songReturn {
    text-align: center;
    max-width: 10rem;
    max-height: 10rem;
    padding: 1rem;
}

.bandName {
    font-weight: bold;
    font-size: smaller;
}

.songTitle {
    font-size: smaller;
}

.songImage {
    height: 5rem;
    width: 5rem;

}